body {
  padding: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
}

a {
  color: #00B7FF;
}
form{
  left: 40%;
  right: 40%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  border-radius: 1em;
}

input{
  
  right: 50%;
  left: 50%;
}

#modifier{
  display: none;
}

#modifier, #ajouter{
  margin-left: 30%;
  margin-right: 40%;
  position: relative; 
  width: 12em; 
}
input:hover {
  box-shadow: 0 12px 16px 0 rgb(129, 129, 129); 
  color: white;
}
#previous,#next{
  left: 35%;
  right: 50%;
  width: 12em;
  position:relative;
}
button:hover{
  box-shadow: 0 12px 16px 0 rgb(129, 129, 129);
  color: white;
}

fieldset{
  color: rgb(1, 61, 172);
  border-radius: 10px ;
}
