body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form{
  left: 40%;
  right: 40%;
  align-items: center;
}

#modifier{
  display: none;
}
